body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Home*/
.home-jumbo {
    background-image: url('17mul6jd3pfhdjpg.jpg');
    margin-bottom: 15px;
}

.jumbo-text {
    color: white;
}

.move-down {
    padding-top: 60px;
}

.home-image {
    width: 600px;
    height: 300px;
}

/*Navbar*/
.navbar {
    background-color: darkgrey;
    color: black;
}

/*Reviews Index*/
.thumbnail {
    text-align: center;
}

/*Review Details*/
.details-jumbo {
    text-align: center;
    background-image: url('review-a.jpg');
    background-size: contain;
}

#background-color {
    background-color: whitesmoke;
}