@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <div class="container-fluid jumbo-text">
            <h1>Video Game Reviews</h1>
            <p class="lead">Welcome to Nick's Reviews, where you'll find reviews for all of the best (and worst) new games.</p>
        </div>
    </div>
</div>

<div class="row container">
    <div class="col-md-6 move-down">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel convallis tortor. Pellentesque luctus nulla tortor, eget pretium nunc volutpat convallis. Nulla eget massa suscipit, dignissim mi quis, suscipit mi. Fusce convallis quam velit, vitae scelerisque est volutpat sed. Suspendisse in odio ac felis consectetur dapibus. Morbi vel lorem ut tellus pellentesque tincidunt. Vivamus volutpat vel quam nec egestas.
        </p>
    </div>
    <div class="col-md-6">
        <img class="home-image" src="~/Content/2324ec96-3670-4d9f-b06f-756d8247687a.jpg" />
    </div>
</div>